/.vscode
/cmd/notary-server/notary-server
/cmd/notary-server/local.config.*
/cmd/notary-signer/notary-signer
/cmd/notary-signer/local.config.*
/cmd/notary/root-ca.crt
/cmd/escrow/escrow
/cmd/escrow/local.config.*
cover
bin
cross
.cover
*.swp
.idea
*.iml
*.test
coverage*.txt
gas_output.csv
/fixtures/*.crt
/fixtures/*.key
/fixtures/*.pem
/fixtures/database/*.pem
*.crt
*.key
